.ka-table {
	font-family: "DM Sans", "SF UI Text", -apple-system, BlinkMacSystemFont,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

.ka-table-wrapper {
	border: 1px solid #e1e2eb;
	border-radius: 8px;
}

.ka-table-wrapper::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #f5f5f5;
}

.ka-table-wrapper::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 4px;
}

.ka-table-wrapper::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 4px;
}

.ka-thead-background {
	background-color: #fff;
}

.ka-thead-cell {
	color: #474d66;
}
