// General
body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--onboard-modal-z-index: 30;
}

button span {
	box-sizing: content-box;
}

@import "./ka-table.scss";
